<div class="icon">
    <%= image_tag("icon.jpg") %>
</div>
<%= form_tag("/search", method: "get", class: "search") do %>
    <%= text_field_tag(:keyword, '', class: "search_field") %>
    <%= submit_tag("Search") %>
<% end %>
